* {
    margin:0;
    padding:0;
    cursor: default;
    outline: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    font: inherit;
    text-decoration: inherit;
}

html, body {
    height: 100%;
}

body {
    background: #f4f4f4;
    display: flex;
    flex-direction: column;

    font-family: sans;
    color: #333333;
}


seqz-button.square {
    padding: 6px;
    border: 1px solid #aaa;
    font-size: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top:7px;
}
seqz-button:hover {
    color: #555;
}

seqz-button:active {
    color: #000;
}

seqz-button.square:active {
    border-color: #888;
}

.input {
    display:flex;
    flex-direction: row;
    background: #DEDEDE;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-height: 100%;
    border: 1px solid #aaa;
}
.input label {
    font-size: 80%;
    padding: 4px;
    height: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #aaa;
}
.input input {
    background: #f4f4f4;
    border: 0;
    padding: 4px;
    flex: 1;
    width: auto;
    display: block;
    height: 100%;
    min-width: 0;
}


#headerbar {

    display: flex;
    flex-direction: row;
    height: 45px;
    background: #E6E6E6;
    align-items: center;
    justify-content: center;
    border-bottom:1px solid #cecece;

    -webkit-user-select: none;
    -webkit-app-region: drag;
}

#header-title {
    flex:1;
    text-align: center;
}

#header-left, #header-right {
    width: 200px;
    display: flex;
    flex-direction: row;
    padding:10px;
}
#header-left > * , #header-right > * {
    -webkit-app-region: no-drag;
}

#header-right {
    justify-content: flex-end;
}


#footerbar {
    display: flex;
    height: 45px;
    background: #E6E6E6;
    align-items: center;
    border-top:1px solid #cecece;
    padding: 8px;
}

#transport-left, #transport-right {
    width: 250px;
    display: flex;
    flex-direction: row;
    height: 100%;
}
#transport-left seqz-button {
    margin-right: 8px;
}

#transport-right {
    justify-content: flex-end;
}


#transport-bpm {
    width: 90px;
}

#transport-cursor {
    flex: 1;
    text-align: center;
}



#main {
    display: flex;
    flex-direction: column;
    flex:1;
}


#tabs {
    display: flex;
    height: 35px;
    background: #DEDEDE;
    /* align-items: center; */
    border-bottom:1px solid #cecece;
}

.tab-link {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    /* margin: 4px 4px 0 4px; */
}

.tab-link.active {
    background: #EEE;
}

.tab-panel {

    display: none;
    flex: 1;
    align-items: center;
    justify-content: center;

}

.tab-panel.active {
    display: flex;
}
