#tabs {
    display: flex;
    height: 35px;
    background: var(--color-behind);
    border-bottom:1px solid var(--color-border);
    overflow: hidden;
}

.tab-link {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    color: var(--color-text-fade);
}

.tab-link.active {
    background: var(--color-raised);
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.1);
    color: var(--color-text);
}

.tab-panel {

    display: none;
    flex: 1;
    align-items: center;
    justify-content: center;

}

.tab-panel.active {
    display: flex;
}
